{% load static %}
<section class="about section" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15 ">
                        <h3>I'm Arslaan Darwajkar and <span>Python Full Stack Developer</span></h3>
                        <p>
                            A passionate backend developer with strong command over Python, Django, and REST
                            APIs.
                            I specialize in building scalable web applications, integrating efficient
                            databases,
                            and creating clean, production-ready systems. <br> I’m also exploring AI/ML,
                            DevOps (Docker, CI/CD), and
                            cloud platforms like AWS to become a versatile full stack engineer. <br>
                            I love mentoring others, sharing knowledge, and constantly upgrading my skills
                            through real-world projects. <br>
                            Currently upskilling in DSA and System Design through HeyCoach to strengthen my
                            problem-solving and architecture skills.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Birthday : <span>15 sep 2002</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Age : <span>22</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Website : <span>www.domain.com</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Email : <span>arslaandarvajkar21@gmail.com</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Diploma : <span>Computer Engineering</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Phone : <span>9096597936 | 7769845876</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>City : <span>Bangalore</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>For Hire : <span>Will be available in 15 days on offer</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>For Freelancing : <span>Available right away (with a team of skilled 5
                                        memebers)</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="{% static 'resume/Arslaan_Resume.pdf' %}" class="btn" download>Download CV</a>
                                <a href="" class="btn hire-me">Hire Me</a>
                            </div>
                        </div>

                    </div>
                    <div class="skills padd-15 ">
                        <div class="row">
                            <div class="skill-item padd-15">
                                <h5>Languages</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 96%;"></div>
                                    <div class="skill-percent">9.6/10</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Frameworks</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 90%;"></div>
                                    <div class="skill-percent">9/10</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>DSA</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">7.5/10</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>APIs</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;"></div>
                                    <div class="skill-percent">8/10</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Databases</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;"></div>
                                    <div class="skill-percent">8/10</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Ai - Powered Apps (AI/ML integrations)</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 70%;"></div>
                                    <div class="skill-percent">7/10</div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>DevOps</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 60%;"></div>
                                    <div class="skill-percent">6/10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- timeline item -->
                                    <!-- Diploma -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2020 – 2023
                                        </h3>
                                        <h4 class="timeline-title">Diploma in Computer Engineering</h4>
                                        <p class="timeline-text"><b>Government Polytechnic Panaji,
                                                Goa</b><br>
                                            Specialized in core computer science subjects like Data
                                            Structures, OOPs, DBMS, Networking, Operating Systems, C/C++ and
                                            Python development.</p>
                                    </div>

                                    <!-- Qspiders -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2023 – 2024
                                        </h3>
                                        <h4 class="timeline-title">Full Stack Development (Python)</h4>
                                        <p class="timeline-text"><b>QSpiders, Bangalore</b><br>
                                            Completed full-stack development training with in-depth learning
                                            of Python and framework like Django, RESTful API development,
                                            advanced frontend technologies (React.js, Bootstrap), and robust
                                            database systems like MySQL and Oracle, along with real-world
                                            project implementation and deployment..</p>
                                    </div>

                                    <!-- HeyCoach  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date"><i class="fa fa-calendar"></i> 2025 –
                                            Present</h3>
                                        <h4 class="timeline-title">Advanced DSA & System Design (Ongoing)
                                        </h4>
                                        <p class="timeline-text">
                                            <b>HeyCoach by Ex-FAANG Mentors</b><br>
                                            Focused on solving complex DSA problems and mastering high-level
                                            system design to build scalable and efficient backend
                                            architectures.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- timeline item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date"><i class="fa fa-calendar"></i>Mar 2024 –
                                            Present</h3>
                                        <h4 class="timeline-title">Associate Software Engineer, Test Yantra
                                        </h4>
                                        <p class="timeline-text">
                                            <li class="timeline-text">Currently working as an Associate
                                                Software Engineer and Python Team Lead at Test Yantra, where
                                                I lead and deliver comprehensive Python Full Stack training
                                                programs for aspiring developers.</li>
                                            <li class="timeline-text">
                                                My role involves designing industry-relevant full-stack
                                                curricula focused on Python, Django, RESTful APIs, Databases
                                                and Web-Tech.
                                                I mentor junior trainers and students, conduct live project
                                                walkthroughs, and ensure that the training outcomes align
                                                with real-world industry requirements.</li>
                                            <li class="timeline-text">Apart from training responsibilities,
                                                I actively contribute to in-house and client-based backend
                                                development projects, building and optimizing Django REST
                                                Framework APIs, integrating third-party services,
                                                and implementing best practices in code structure, security,
                                                and scalability.</li>
                                        </p>

                                    </div>

                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date"><i class="fa fa-calendar"></i> Aug 2022 –
                                            Oct 2022</h3>
                                        <h4 class="timeline-title">Web Developer Trainee, Octalogic Tech
                                        </h4>
                                        <p class="timeline-text">
                                            <li class="timeline-text">Worked on frontend development using
                                                HTML,
                                                CSS, JavaScript and React.</li>
                                            <li class="timeline-text">Learned project basics using Node.js
                                                and completed clone projects to enhance skills.</li>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>