{% load static %}
<section class="home section" id="home">
    <div class="container">
        <div class="row">
            <div class="home-info  padd-15 ">
                <h3 class="hello">Hello, my name is <span class="name">Arslaan Darwajkar</span></h3>
                <h3 class="my-profession">I' m a <span class="typing">Web Developer</span></h3>
                <p>
                    Passionate Backend Developer with expertise in Python, Django, and RESTful APIs, backed
                    by strong database and system
                    design skills. Actively Exploring background task tools like Celery & Redis, DevOps
                    (CI/CD, Docker, AWS) and AI/ML to build
                    scalable and intelligent applications. And many more
                    ....
                </p>
                <div class="socials" style="margin-bottom: 20px;">
                    <div style="display: flex; align-items: center; gap: 15px;">
                        <h2 style="margin: 0;">Socials:</h2>
                        <a href="https://github.com/Pro-Ace-grammer" target="_blank" title="GitHub"
                            class="icon">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/arslaan-darwajkar-5a46b0168/" target="_blank"
                            title="LinkedIn" class="icon">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/code_ace.py" target="_blank" title="Instagram"
                            class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="mailto:arsalandarvajkar21@gmail.com" title="Email" class="icon">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a href="https://leetcode.com/u/arsalandarvajkar21/" target="_blank"
                            title="LeetCode" class="icon">
                            <i class=" fa fa-code"></i>
                        </a>

                    </div>
                </div>

                <a href="#contact" class="btn hire-me">Hire Me</a>
            </div>
            <div class="home-img padd-15">
                <img src="{% static 'image/hero-1.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>