{% load static %}
<section class="portfolio section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-heading padd-15 ">
                <h2>My Last Projects : </h2>
            </div>
        </div>
        <div class="row">
            <!-- portfilio item start -->

            <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="{% static 'image/resume-match-ai.png' %}" alt="Resume Match AI" height="200">
                    </div>
                    <div class="portfolio-details">
                        <h4>Resume Match AI</h4>
                        <p>AI-powered tool that analyzes resumes and job descriptions using Django,
                            pdfplumber, and LLaMA, providing intelligent match insights.</p>
                        <a href="https://github.com/Pro-Ace-grammer/Resume-Match-AI" target="_blank"
                            class="btn">View</a>
                    </div>
                </div>
            </div>

            <!-- portfilio item end -->
            <!-- portfilio item start -->

            <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="{% static 'image/study-buddy.png' %}" alt="Study Buddy" height="200">
                    </div>
                    <div class="portfolio-details">
                        <h4>Study Buddy</h4>
                        <p>A collaborative learning platform where users can join or create study rooms,
                            share ideas, and explore topics. Built using Django Templates.</p>
                        <a href="https://github.com/Pro-Ace-grammer/Study-Buddy" target="_blank"
                            class="btn">View</a>
                    </div>
                </div>
            </div>

            <!-- portfilio item end -->
            <!-- portfilio item start -->
            <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="{% static 'image/portfolio.png' %}" alt="Portfolio Website" height="200">
                    </div>
                    <div class="portfolio-details">
                        <h4>Portfolio Website</h4>
                        <p>Personal portfolio built using HTML, CSS, JS, and converted into Django.
                            Showcases my education, Experience, skills, projects, and contact form.</p>
                        <a href="https://github.com/Pro-Ace-grammer/Portfolio-Django" target="_blank"
                            class="btn">View</a>
                    </div>
                </div>
            </div>


            <div class="portfolio-item padd-15">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="{% static 'image/to-do-list.png' %}" alt="To-Do List App" height="200">
                    </div>
                    <div class="portfolio-details">
                        <h4>To-Do List App</h4>
                        <p>Minimalist full-stack task manager built with Django REST Framework and React.
                            Enables adding, updating, and deleting tasks.</p>
                        <a href="https://github.com/Pro-Ace-grammer/Todo-List-App" target="_blank"
                            class="btn">View</a>
                    </div>
                </div>
            </div>

            <!-- portfilio item end -->
        </div>
    </div>

</section>